.form{
  background: no-repeat center/100% url("../../image/bg-contact-form.png");
}

.container{
  padding: 100px 165px;
}

.block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: #ffff;
  font-family: 'Stem-Bold';
  font-size: 52px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.text{
  font-family: 'Stem-SemiLight';
  font-size: 24px;
  color: #D9D9D9;
  padding: 0 140px;
  text-align: center;
  margin-bottom: 40px;
}

.flexForm{
  display: flex;
  gap: 10px;
  font-family: 'Stem-Medium';
  color: #e21010;
}

input{
  width: 260px;
  height: 56px;
  border-radius: 6px;
  background-color: #ffff;
  padding: 16px 20px;
  font-size: 18px;
}

::placeholder{
  color: #a3a3a3;
  opacity: 1;
}

.btn{
  width: 200px;
  height: 56px;
  border-radius: 6px;
  padding: 16px 32px;
  font-family: 'Stem-Medium';
  letter-spacing: 0.8px;
  font-size: 15px;
  background-color: #FF5545;
  color: #ffff;
  transition: 0.2s;
  &:hover {
    background-color: #ae382e;
  }
}
