.form{
  background: no-repeat center/100% url("../../image/bg-contact-form.png");
  background-size: cover;
}

.container{
  padding: 100px 165px;
}

.block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: #ffff;
  font-family: 'Stem-Bold';
  font-size: 52px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.text{
  font-family: 'Stem-SemiLight';
  font-size: 24px;
  color: #D9D9D9;
  text-align: center;
  padding: 0 90px;
  margin-bottom: 40px;
}

.flexForm{
  display: flex;
  gap: 10px;
  font-family: 'Stem-Medium';
  color: #e21010;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  max-width: 1100px;
}

.inputForm{
  width: 260px;
  height: 56px;
  border-radius: 6px;
  background-color: #ffff;
  padding: 16px 20px;
  font-size: 18px;
}

::placeholder{
  color: #a3a3a3;
  opacity: 1;
}

.inputForm:nth-last-child(2){
  width: 200px;
  height: 56px;
  border-radius: 6px;
  padding: 16px 32px;
  font-family: 'Stem-Medium';
  letter-spacing: 0.8px;
  font-size: 15px;
  background-color: #FF5545;
  color: #ffff;
  transition: 0.2s;
  &:hover {
    background-color: #ae382e;
  }
}

.formText{
  min-width: 400px;
  min-height: 120px;
  border-radius: 6px;
  padding: 16px 20px;
  font-size: 18px;
  resize:none;

  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

@media screen and (max-width: 1200px){
  .container{
    padding: 60px 0;
  }
  
}
@media screen and (max-width: 1100px){
  .container{
    padding: 40px 0;
  }
  .title{
    font-size: 36px;
  }

  .text{
    font-size: 18px;
    padding: 0 25px;
  }

  /* !! */
  input{
    width: 230px;
    height: 46px;

  }
  .formText{
    min-width: 350px;
    max-height: 110px;
  }

  .btn{
    width: 180px;
    height: 46px;
    padding: 15px;
  }
}

@media screen and (max-width: 952px){
  .btn{
    width: 230px;
  }
  .text{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 470px){
  .formText{
    font-size: 15px;
  }
  ::placeholder{
    font-size: 15px;
  }
}    

