.wrapper {
  border: 1px solid #4B4B4B;  //temporary
  border-bottom: none;          //temporary
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

.content {
  padding: 10px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #000000;
  font-family: 'Stem-Medium';
  font-size: 36px;
}

.info {
  display: flex;
  gap: 40px;
}

.navbar {
  font-family: 'Stem-Medium';
  font-size: 20px;
  color: #4B4B4B;
  display: flex;
  align-items: center;
  gap: 24px;
}

.navItem {
  &:hover {

  }
}

.workTime {
  font-family: 'Stem-Bold';
  font-size: 14px;
  color: #4B4B4B;
  margin-bottom: 6px;
}

.phones {
  font-family: 'Stem-Medium';
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
}