.containerService {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 35px 20px;
  position: relative;
  border-radius: 16px;
  z-index: 1;
  &:nth-child(1){
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("../../../image/bg-card1.jpg");
    background-size: cover;
    background-position: 30%;
  }
  &:nth-child(2){
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("../../../image/bg-card2.jpg");
    background-size: cover;
    background-position: 36%;
  }
  &:nth-child(3){
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("../../../image/bg-card3.png");
    background-size: cover;
    background-position: 46%;
  }
  &:nth-child(4){
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("../../../image/bg-card4.png");
    background-size: cover;
    background-position: 41%;
  }
  &:nth-child(5){
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("../../../image/bg-card5.png");
    background-size: cover;
    background-position: 30%;
  }
  &:nth-child(6){
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("../../../image/bg-card6.png");
    background-size: cover;
    background-position: 48%;
  }
}


.iconBlock {
  background-color: #CA1D1D;
  padding: 5px;
  transform: skewX(5deg);
  position: absolute;
  top: -40px;
  height: 55px;

  svg {
    transform: skewX(-5deg);
    width: 45px;
    height: 45px;
  }
}

.titleService {
  font-family: 'Stem-Medium';
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  color: #CA1D1D;
  text-align: center;
  margin-bottom: 20px;
}

.descriptions {

}

.description {
  font-family: 'Stem-Medium';
  font-size: 18px;
  letter-spacing: 0.4px;
  line-height: 22px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.ticketBtn {
  background-color: #FF5545;
  padding: 10px 50px;
  border-radius: 6px;
  font-family: 'Stem-Medium';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-top: 20px;
  transition: 0.2s;

  &:hover {
    background-color: #ae382e;
  }
}