.wrapper {
  padding: 80px 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.title {
  font-family: "Stem-Medium";
  font-size: 36px;
  font-weight: 500;
  line-height: 24px;
  color: #FF5545;
  margin-bottom: 80px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px 20px;
}

@media screen and (max-width: 1300px){
  .container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px){
  .title{
    font-size: 28px;
  }
  .container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
  }
}

@media screen and (max-width: 900px){
  .container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
  }
}

