.wrapper {
  padding: 80px 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F7F8FA;
}

.title {
  font-family: "Stem-Medium";
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
  color: #FF5545;
  margin-bottom: 80px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(2, 600px);
  gap: 80px 20px;
}