.header{
  height: 700px;
  background: no-repeat center/100% url("../image/header-bg.png");
}

.container{
  padding: 120px 0 0 140px;
}

.text{
  font-family: 'Stem-Bold';
  font-size: 68px;
  color: #ffffff;
  margin-bottom: 26px;
}

.btn{
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  background-color: #ffffff;
  color: #FF5545;
  font-family: 'Stem-Medium';
  font-size: 24px;
  padding: 16px 32px;
  transition: 0.2s;

  &:hover{
    background-color: #d6d6d6;
  }
}

