.wrapper {

}

.header {
  padding: 20px;
  background-color: rgb(243, 0, 0);    
  font-family: 'Stem-Medium';
  font-size: 18px;
  color: #fff;

  .title {
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
    text-decoration: underline;
  }
}

.fieldsContainer {
  padding: 50px;
}

.field {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.titleField {
  font-family: 'Stem-SemiLight';
  font-size: 16px;
}

.textField {
  border: 1px solid black;
}
