/* Nullable styles */

*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{
	outline: none;
}
a:focus,a:active{
	outline: none;
}
nav,footer,header,aside{
	display: block;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  scroll-behavior: smooth ;
	/* scroll-margin-top: 80px; */
}
input,button,textarea{
	font-family:inherit;
}
input::-ms-clear{
	display: none;
}
button{
	cursor: pointer;
}
button::-moz-focus-inner {
	padding:0;border:0;
}
a, a:visited{
	text-decoration: none;color: inherit;
}
a:hover{
	text-decoration: none;
}
ul li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
	font-size:inherit;font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* Fonts */

@font-face {
	font-family: 'Stem Light';
	src: local('Stem Light'), local('Stem-Light'),
			url('./fonts/Stem-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Stem-Medium';
	src: local('Stem Medium'), local('Stem-Medium'),
			url('./fonts/Stem-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Stem-Bold';
	src: local('Stem Bold'), local('Stem-Bold'),
			url('./fonts/Stem-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Stem-SemiLight';
	src: local('Stem Semi Light'), local('Stem-SemiLight'),
			url('./fonts/Stem-SemiLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Stem-Regular';
	src: local('Stem Regular'), local('Stem-Regular'),
			url('./fonts/Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}